html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background-image: url("/images/money.webp");
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}